* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box; }

header {
  display: block;
  max-width: 40rem;
  margin-top: 2rem;
  text-align: center;
  margin: 2rem auto 0; }
  header p {
    color: #777;
    margin: 1rem; }

article {
  max-width: 800px;
  text-align: center;
  margin: 2rem auto 1rem;
  border: 1px solid #bbb; }
  article h3 {
    background: linear-gradient(90deg, #dd4c14 0%, #f4a331 25%, #f4d231 50%, #52f431 75%, #6aa7fb 100%);
    padding: 1em;
    border-bottom: 1px solid black; }
  article p {
    padding: 1rem;
    text-align: justify; }

footer {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  background-color: #1b1b1b; }
